You are using pip version 10.0.1, however version 18.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
beautifulsoup4==4.6.1
bs4==0.0.1
IMDbPY==6.6.dev20180802
lxml==4.2.3
pyTelegramBotAPI==3.6.5
requests==2.7.0
six==1.11.0
SQLAlchemy==1.2.10
